/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
	background-image: linear-gradient(to bottom, #0F6B69, #041C26);
	color: white;
	font-family: Calibri, Geneva;

	
}


#container {
	background: none;
	/*width: 800px;*/
	width: 90%;
	max-width: 800px;
	margin: auto; 
	padding: 10px;

}


ul {
list-style: none;
padding-left: 0px;
}

li {
display: inline;
}

nav a {
	color: white;
	display: inline-block;
	background: #296960; 
	padding: 8px;
	margin: 6px;
	text-decoration: none;
	border-radius: 5px;

}

nav a:hover {
color: #296960;
background: white;
}

img {
	width: 100%;
}

figcaption, footer {
	font-size: 0.75em;
}

button {
color: white;
border: 15px;
background: #296960;
padding: 10px;
cursor: pointer;

}

button:hover{
color: #296960;
background: white;
}





/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	
	
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	
	
	
} /* closes 1024px+ */



