/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		
	font-size: 1em;
	line-height: 1.4em;
}




body {
	background: #262626;
	color: #FF7F11;
	font-family: Calibri;
	align-items: center;
	height: 100vh;
  	text-align: center;
	display: flex;
	
}

h1 {
	font-size: 1.5em;
	letter-spacing: 1.5px;
	line-height: 1.3;
	transform: skew(-3deg, -1deg) rotate(-1deg);
	font-family: "Parisienne", serif;
	font-weight: 400;
	font-style: normal; 
	color: #FF1B1C;
}

h2 {

	font-size: 4em;
	letter-spacing: 1.5px;
	line-height: 1.3;
	transform: skew(-3deg, -1deg) rotate(-1deg);
	font-family: "Oleo Script", serif;
	font-weight: 700;
	font-style: normal;
 	text-shadow: 4px 4px rgba(85, 97, 80, 0.6);

}


#container {

	/*width: 800px;*/
	width: 90%;
	max-width: 800px;
	margin: auto; 
	padding: 10px;
}

footer p {

	font-size: 1;
	font-style: italic;
	opacity: 0.8;
	color: #E2E8CE;
}


